@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 6px;
  font-weight: normal;
}

a,
.green {
  color: #F8B55F;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

